server:
  port: 8082

  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/fitlife?sslmode=disable
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    enabled: true

app:
  security:
    jwt:
      secret: "cambia-esta-clave-super-larga-y-aleatoria"
      expiration-minutes: 120


