---
/**
 * Envuelve una tabla HTML en un contenedor que permite el desbordamiento horizontal
 * en pantallas pequeñas, manteniendo el layout responsive.
 */
---
<div class="table-wrapper">
    <slot />
</div>